body {
    max-width: 1000px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
}

 aside {
     min-width: 170px;
     padding: 5%;
     background-color: rgb(29, 29, 29);
     color: white;
 }

 aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
 }

aside footer {
    margin: auto;
    width: 100%;
}

 aside footer a {
    display: block;
    text-align: center;
    background-color: olivedrab;
    padding: 10px;
 }

 aside footer address {
    text-align: center;
 }

 main {
    background-color: whitesmoke;
    padding: 5%;
 }

 @media only screen and (max-width:700px) {
    body {
        margin-top: 0%;
        flex-direction: column;
    }

    aside header {
        display: flex;
        flex-direction: row;
    }

    aside header img {
        display: flex;
        flex-direction: row;
        
    }

    aside header hgroup {
        display: block;
    }

    aside footer a {
        font-size: 5vw;
    }

    aside footer address {
        text-align: center;
        font-size: 5vw;
    }
}

